---
lang-ref: home
layout: home
title: Open access to Sweden's biodiversity data and analysis tools
background: uploads/slides/Motacilla.flava_johan.backman_CC-BY-NC-scaled-e1619023368822.jpg
imageLicense: Motacilla flava by Johan Bäckman (CC-BY-NC)

height: 70vh
cta:
  - text: Occurrences
    href: /occurrence/search
    isPrimary: true # this will break as it is illegal yaml
  - text: Datasets
    href: /dataset/search
  - text: Publishers
    href: /publisher/search
permalink: /
---

<!-- Data grid -->
<article>
  <div class="home--data-grid">
    <div class="data-grid-item data-grid-counts">
      <h2>SBDI brings biodiversity data together</h2>
      <p>
        SDBI aggregates biodiversity data from multiple sources and makes it available and usable online. It is the largest collection of freely available biodiversity data in Sweden.
      </p>
      <div>
      {% for item in site.data.counts %}
        <a href="{{ item.url }}">
          <span {% if item.id %}id="{{ item.id }}"{% endif %}>
            {% if item.count %}{% include number-format.html number=item.count decimals=0 ts="," %}{% else %}-{% endif %}
          </span>
          <span>{{ item.title }}</span>
        </a>
      {% endfor %}
      </div>
    </div>
    <div class="data-grid-item data-grid-families">
      <h2>Making the most of biodiversity data</h2>
      <p>
        Biodiversity data about plants, animals and fungi and their habitats may be used to educate and inform and in environmental decision-making, state of the environment assessments and restoration and rewilding.
      </p>
      <div>
      {% for item in site.data.families %}
        <a href="/occurrence/search?taxonKey={{ item.id }}">
          <span id="family-{{ item.id }}-count">-</span>
          <span>{{ item.title }}</span>
        </a>
      {% endfor %}
      </div>
    </div>
  </div>
</article>

<div class="home--news-events">

  <!-- News -->
  <article class="home--news">
    <h2>News</h2>
    {% assign latest_news = site.news | reverse %}
    {% for news in latest_news limit:3 %}
      <article>
        <div onclick="location.href='{{ news.url }}';" aria-hidden="true">
          {% if news.image %}
            <img src="/uploads/news/{{ news.image }}" alt="">
          {% endif %}
        </div>
        <div>
          <header>
            <h3>
                <a href="{{ news.url }}">{{ news.title }}</a>
            </h3>
            <div>
              {{ news.date | date: "%b %d, %Y" }}
            </div>
          </header>
          <p class="mt-2">
            {% include preamble.html page=news %}
          </p>
        </div>
      </article>
    {% endfor %}
    <footer>
      <a class="link-icon" href="/news/">See all news</a>
    </footer>
  </article>

  <!-- Events -->
  <article class="home--events">
    <h2>Events</h2>
    {% include functions/fetch-events.html event_type="upcoming" %}
    {% for event in events limit:3 %}
      <article>
        <div onclick="location.href='{{ event.url }}';" aria-hidden="true">
            {% if event.image %}
              <img src="/uploads/events/{{ event.image }}" alt="">
            {% endif %}
        </div>
        <div>
          <header>
            <h3>
                <a href="{{ event.url }}">{{ event.title }}</a>
            </h3>
            <div>
              {%- include icons/calendar.html -%}
              {%- include event-date.html event=event -%}
            </div>
            {% if event.location %}
              <div>
                {%- include icons/location-dot.html -%}
                {{ event.location }}
              </div>
            {% endif %}
          </header>
          <p class="mt-2">
            {% include preamble.html page=event %}
          </p>
        </div>
      </article>
    {% else %}
      <span>- No upcoming events -</span>
    {% endfor %}
    <footer>
      <a class="link-icon" href="/events/">See {% if events != empty %}all{% else %}past{% endif %} events</a>
    </footer>
  </article>

</div>

<!-- GBIF banner -->
<article class="home--gbif-banner">
  <h2>
    SBDI includes the Swedish node of the Global Biodiversity Information Facility (GBIF)
  </h2>
  <a href="https://www.gbif.se/" title="Swedish node of GBIF">
    <img src="/assets/images/pn-green-logo.svg" alt="" aria-hidden="true">
  </a>
</article>

<!-- Partner logos -->
<article class="home--logos">
  <h2>
    SBDI is made possible by contributions from its partners and financers
  </h2>
  <div>
  {% for partner in site.data.partners %}
    <a href="{{ partner.link }}" title="{{ partner.title }}">
      <img src="/uploads/partners/{{ partner.image }}" alt="" aria-hidden="true">
    </a>
  {% endfor %}
    <a href="https://www.vr.se/english.html" title="The Swedish Research Council">
      <img src="/uploads/partners/svart_fyrkant_eng_150.png" alt="" aria-hidden="true">
    </a>
  </div>
</article>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    fetchOccurrenceCounts();
  });

  const fetchOccurrenceCounts = async() => {
    var result = await fetch_json('https://api.gbif.org/v1/occurrence/count?publishingCountry=SE')
    updateElement('occurrence-count', result);
    
    result = await fetch_json('https://api.gbif.org/v1/dataset/search?publishingCountry=SE&limit=500');
    updateElement('dataset-count', result.count)

    result = await fetch_json('https://api.gbif.org/v1/organization?country=SE&limit=100');
    updateElement('publisher-count', result.count)

    result = await fetch_json('https://api.gbif.org/v1/occurrence/search?publishingCountry=SE&limit=0&facet=kingdomKey');
    result.facets[0].counts.forEach(item => {
      updateElement('family-' + item.name + '-count', item.count);
    });
  }

  const fetch_json = async(url) => {
    const response = await fetch(url);
    return await response.json();
  }

  const updateElement = (id, value) => {
    const element = document.getElementById(id);
    if (element) {
      element.innerText = parseInt(value).toLocaleString('en-GB');
    }
  }
</script>

<!--
<script>
  {% assign slides = site.data.slides %}
  const slides = [
    {% for slide in slides %}
      {
        imageUrl: "/uploads/slides/{{ slide.image }}",
        title: "{{ slide.title }}",
      },
    {% endfor %}
  ];

  const shuffledSlides = slides.sort(() => Math.random() - 0.5);

  let currentIndex = 0;

  const slideImage = document.querySelector(".feature-img img");
  const slideLicense = document.querySelector(".feature-img-license-text p");

  slideImage.classList.add("fade")

  const showSlide = (index) => {
    const slide = shuffledSlides[index];
    slideImage.classList.remove("show");
    setTimeout(() => {
      slideImage.src = slide.imageUrl;
      slideLicense.textContent = slide.title;
      slideImage.classList.add("show");
    }, 1000);
  }

  showSlide(currentIndex);

  setInterval(() => {
    currentIndex = (currentIndex + 1) % shuffledSlides.length;
    showSlide(currentIndex);
  }, 10000);
</script>
-->