<header aria-label="Site header">
  <div class="beta-banner">
    <div class="container">
      This is a beta version of the new SBDI site. If you have feedback or notice any issues, please <a href="https://docs.biodiversitydata.se/support/">contact us</a>.
    </div>
  </div>
  <div class="header container my-2">
    <a href="/" title="To home page">
      <img src="/assets/images/SBDI-rgb.svg" alt="SBDI logotype" width="100" />
    </a>
    <span>Swedish Biodiversity Data Infrastructure</span>
  </div>
</header>
