{% assign event = include.event %}
<article class="event-list-item">
  <div class="event-list-item-image" onclick="location.href='{{ event.url }}';" aria-hidden="true">
    {% if event.image %}
      <img src="/uploads/events/{{ event.image }}" alt="">
    {% endif %}
  </div>
  <div class="event-list-item-text">
    <header>
      <h3>
        <a href="{{ event.url }}">{{ event.title }}</a>
      </h3>
      <div class="mt-2">
        {%- include icons/calendar.html -%}
        {%- include event-date.html event=event -%}
      </div>
      {% if event.location %}
        <div>
          {%- include icons/location-dot.html -%}
          {{ event.location }}
        </div>
      {% endif %}
      {% if event.contribution %}
        <div>
          {%- include icons/lightbulb.html -%}
          {{ event.contribution }}
        </div>
      {% endif %}
    </header>
    <p class="mt-4">
      {% include preamble.html page=event %}
    </p>
    <footer>
      <a href="{{ event.url }}" title="{{ event.title }}" class="link-icon">Read more</a>
    </footer>
  </div>
</article>