.event-list-item-past {
    margin-top: 2rem;
}

.event-list-item {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 4px solid $color-slate-200;

    @include tablet {
        flex-direction: row;
    }
}

.event-list-item-image {
    flex-basis: 25%;
    display: none;
    position: relative;
    text-align: center;
    cursor: pointer;

    @include tablet {
        display: block;
        margin-right: 1.5rem;
    }
}

.event-list-item-text {
    flex-basis: 75%;
}

.event-list-item h3, .event-list-item-past h3 {
    font-size: 1.25rem;
    color: $color-sbdi-darkblue;
}

.content .event-list-item h3 a, .content .event-list-item-past h3 a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.event-list-item div, .event-list-item-past div {
    color: $color-slate-600;
}

header.event-detail {
    color: $color-slate-600;
}

img.event-detail-image {
    max-height: 18rem;
    margin-bottom: 1.5rem;
}
