.footer {
    padding: 0;
}

.footer-hostedby {
    background-color: $color-sbdi-darkblue;
}

.footer-groups {
    .footer-column {
        margin: 0 24px 6px 24px;

        &:first-child {
            flex-grow: 1;
        }

        a:hover {
            text-decoration: underline;
            background-color: inherit;
        }
    }
}
