header {
    .header {
        padding-left: 3rem;
        display: flex;

        span {
            margin-left: 2rem;
            align-self: flex-end;
            font-size: 1.25rem;

            a {
                text-decoration: none;
            }
        }
    }
    .beta-banner {
        background-color: rgb(255, 197, 87);
        padding: 0.8rem;

        div {
            max-width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.navbar {
    @include desktop {
        padding-left: 20rem;
    }
}

.navbar-logo {
    display: none;
}

.navbar--hasWhiteText .navbar-top-item:hover,
.navbar--hasWhiteText .navbar-top-item:active,
.navbar--hasWhiteText .navbar-top-item:focus {
    @include desktop {
        background-color: $color-sbdi-dark-blue !important;
    }
}

a.navbar-item, 
a.navbar-item:hover, 
a.navbar-link,
a.navbar-link:hover {
    text-decoration: none;
}

.toc a.active {
    border-left: 3px solid $color-sbdi-iceblue;
}
