.feature-title {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.8rem !important;

    @include desktop {
        font-size: 2.5rem !important;
    }
}

.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade.show {
    opacity: 1;
}

.home--data-grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    @include desktop {
        flex-direction: row;
    }

    .data-grid-item {
        padding: 2rem 2rem 2rem 2rem;

        @include desktop {
            padding-left: 3rem;
            padding-right: 3rem;
        }

        @include widescreen {
            padding-left: 5rem;
            padding-right: 5rem;
        }

        h2 {
            color: white;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: normal;
        }

        p {
            color: white;
            font-weight: 300;
            font-size: 1.1rem;
        }

        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            a {
                display: block;
                margin: 0.5rem;
                padding: 0.5rem 0.75rem 0.5rem 0.75rem;
                border-radius: 0.5rem;
                color: white;
                text-decoration: none;

                span {
                    display: block;
                }

                span:nth-child(1) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .data-grid-counts {
        flex-basis: 50%;
        background-color: $color-sbdi-bluegreen;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        @include desktop {
            border-top-right-radius: 0;
            border-bottom-left-radius: 0.5rem;
        }

        a {
            background-color: oklch(38.6% 0.063 188.416);

            &:hover {
                background-color: white;
                color: $color-sbdi-bluegreen;
            }
        }
    }

    .data-grid-families {
        flex-basis: 50%;
        background-color: $color-sbdi-darkblue;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        @include desktop {
            border-top-right-radius: 0.5rem;
            border-bottom-left-radius: 0;
        }

        a {
            background-color: oklch(29.3% 0.066 243.157);

            &:hover {
                background-color: white;
                color: $color-sbdi-darkblue;
            }
        }
    }
}

.home--news-events {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    @include desktop { 
        flex-direction: row; 
    }

    .home--news {
        flex-basis: 60%;

        @include desktop {
            border-right: 4px solid $color-slate-200;
            margin-right: 32px;
            padding-right: 16px;
        }

        h2 { 
            margin-bottom: 1.4rem;
            font-size: 1.5rem;
        }

        article {
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;

            @include tablet {
                flex-direction: row;
            }

            div:nth-child(1) {
                flex-basis: 25%;
                margin-bottom: 1rem;
                cursor: pointer;

                @include tablet {
                    margin-bottom: 0;
                }

            }
            
            div:nth-child(2) {
                flex-basis: 75%;

                @include tablet {
                    margin-left: 2rem;
                }

                h3 { 
                    margin-top: 0;
                    font-size: 1.2rem;

                    a {
                        color: $color-sbdi-darkblue;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                div { 
                    margin-left: 0;
                    color: $color-slate-500;
                }
            }
        }

        footer {
            a {
                font-size: 1.1rem;
            }
        }
    }

    .home--events {
        flex-basis: 40%;
        margin-top: 3rem;

        @include desktop {
            margin-top: 0;
        }

        h2 { 
            margin-bottom: 1.4rem;
            font-size: 1.5rem;
        }

        article {
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;

            @include tablet {
                flex-direction: row;
            }

            div:nth-child(1) {
                flex-basis: 25%;
                margin-bottom: 1rem;
                cursor: pointer;

                @include tablet {
                    margin-bottom: 0;
                }
            }
            
            div:nth-child(2) {
                flex-basis: 75%;

                @include tablet {
                    margin-left: 2rem;
                }

                h3 { 
                    margin-top: 0;
                    font-size: 1.2rem;

                    a {
                        color: $color-sbdi-darkblue;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                div { 
                    margin-left: 0;
                    color: $color-slate-500;
                }
            }
        }

        footer {
            a {
                font-size: 1.1rem;
            }
        }
    }
}


.home--gbif-banner {
    h2 {
        font-size: 1.4rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    img {
        margin-top: 1.1rem;
        height: 150px;
    }
}

.home--logos {
    margin-top: 2rem;

    h2 {
        font-size: 1.4rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    div {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 1.5rem;
        margin-top: 1.4rem;
    }
}
