.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.fade.show {
    opacity: 1;
}

.home--news-events {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    @include desktop { 
        flex-direction: row; 
    }

    .home--news {
        flex-basis: 60%;

        @include desktop {
            border-right: 4px solid $color-slate-200;
            margin-right: 32px;
            padding-right: 16px;
        }

        h2 { 
            margin-bottom: 1.4rem;
            font-size: 1.5rem;
        }

        article {
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;

            @include tablet {
                flex-direction: row;
            }

            div:nth-child(1) {
                flex-basis: 25%;
                margin-bottom: 1rem;
                cursor: pointer;

                @include tablet {
                    margin-bottom: 0;
                }

            }
            
            div:nth-child(2) {
                flex-basis: 75%;

                @include tablet {
                    margin-left: 2rem;
                }

                h3 { 
                    margin-top: 0;
                    font-size: 1.2rem;

                    a {
                        color: $color-sbdi-darkblue;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                div { 
                    margin-left: 0;
                    color: $color-slate-500;
                }
            }
        }

        footer {
            a {
                font-size: 1.1rem;
            }
        }
    }

    .home--events {
        flex-basis: 40%;
        margin-top: 3rem;

        @include desktop {
            margin-top: 0;
        }

        h2 { 
            margin-bottom: 1.4rem;
            font-size: 1.5rem;
        }

        article {
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;

            @include tablet {
                flex-direction: row;
            }

            div:nth-child(1) {
                flex-basis: 25%;
                margin-bottom: 1rem;
                cursor: pointer;

                @include tablet {
                    margin-bottom: 0;
                }
            }
            
            div:nth-child(2) {
                flex-basis: 75%;

                @include tablet {
                    margin-left: 2rem;
                }

                h3 { 
                    margin-top: 0;
                    font-size: 1.2rem;

                    a {
                        color: $color-sbdi-darkblue;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                div { 
                    margin-left: 0;
                    color: $color-slate-500;
                }
            }
        }

        footer {
            a {
                font-size: 1.1rem;
            }
        }
    }
}


/*
.home--gbif-banner {
    h2 {
        font-size: 1.2rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }
    .banner {
        position: relative;

        img {
            border-radius: 8px;
        }
    }
    .text {
        position: absolute;
        inset: auto;
        top: 0;
        left: 0;
        border-radius: 8px;
        padding: 1rem 1rem 1rem 1rem;

        h3 {
            color: white;
            font-size: 1.8rem;
            font-weight: bold;
        }
    }
}
*/

.home--logos {
    margin-top: 2rem;

    h2 {
        font-size: 1.4rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    div {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 1.5rem;
        margin-top: 1.4rem;
    }
}
