/*
.home--gbif-banner {
    h2 {
        font-size: 1.2rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }
    .banner {
        position: relative;

        img {
            border-radius: 8px;
        }
    }
    .text {
        position: absolute;
        inset: auto;
        top: 0;
        left: 0;
        border-radius: 8px;
        padding: 1rem 1rem 1rem 1rem;

        h3 {
            color: white;
            font-size: 1.8rem;
            font-weight: bold;
        }
    }
}
*/

.home--logos {
    margin-top: 2rem;

    h2 {
        font-size: 1.2rem;

        @include tablet {
            font-size: 1.5rem;
        }
    }

    div {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 1.5rem;
        margin-top: 1.4rem;
    }
}
