@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Variables
$color-sbdi-darkblue: #284966;
$color-sbdi-blue: #6691a4;
$color-sbdi-lightblue: #94a5b2;
$color-sbdi-iceblue: #abccc7;
$color-slate-100:oklch(96.8% 0.007 247.896);
$color-slate-200:oklch(92.9% 0.013 255.508);
$color-slate-300:oklch(86.9% 0.022 252.894);
$color-slate-400:oklch(70.4% 0.04 256.788);
$color-slate-500:oklch(55.4% 0.046 257.417);
$color-slate-600:oklch(44.6% 0.043 257.281);
$color-slate-700:oklch(37.2% 0.044 257.287);
$color-slate-800:oklch(27.9% 0.041 260.031);
$color-slate-900:oklch(20.8% 0.042 265.755);
$color-gray-100: oklch(96.7% 0.003 264.542);
$color-gray-200: oklch(92.8% 0.006 264.531);
$color-gray-300: oklch(87.2% 0.01 258.338);
$color-gray-400: oklch(70.7% 0.022 261.325);
$color-gray-500: oklch(55.1% 0.027 264.364);
$color-gray-600: oklch(44.6% 0.03 256.802);
$color-gray-700: oklch(37.3% 0.034 259.733);
$color-gray-800: oklch(27.8% 0.033 256.848);
$color-gray-900: oklch(21% 0.034 264.665);

// Overrides
$family-primary: Roboto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$link: $color-sbdi-darkblue;
$link-hover: darken($link, 20%);
$content-heading-weight: 500;
$navbar-height: 2.7rem;
$box-background-color: $color-slate-100;
$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

@import "theme/_main";

@import "_base";
@import "_header";
@import "_footer";
@import "_home";
@import "_explore-data";
@import "_events";
@import "_support";
@import "_about";
@import "_news";
@import "_search";
