@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Colors
$color-sbdi-dark-blue: #284966; 

// Overrides
$family-primary: Roboto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$link: $color-sbdi-dark-blue;
$link-hover: darken($link, 20%);
$content-heading-weight: 500;
$navbar-height: 2.7rem;
$box-background-color: oklch(96.8% 0.007 247.896);
$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

@import "theme/_main";

// Navbar
header.container {
    padding-left: 3rem;
}
header.container a {
    text-decoration: none;
}
.navbar {
    padding-left: 20rem;
}
.navbar-logo {
    display: none;
}
.navbar--hasWhiteText .navbar-top-item:hover,
.navbar--hasWhiteText .navbar-top-item:active,
.navbar--hasWhiteText .navbar-top-item:focus {
    background-color: $color-sbdi-dark-blue !important;
}
a.navbar-item, 
a.navbar-item:hover, 
a.navbar-link,
a.navbar-link:hover {
    text-decoration: none;
}

// Footer
.footer {
    padding: 0;
}
.footer-hostedby {
    background-color: $color-sbdi-dark-blue;
}
.footer-groups .footer-column:first-child {
    flex-grow: 1;
}
.footer-groups .footer-column {
    margin: 0 24px 6px 24px;
}

// Framework
.article {
    max-width: 80rem;
}
.article--toc {
    max-width: 100rem;
}

a, a:hover {
    text-decoration: underline;
}
a.button, a.button:hover {
    text-decoration: none;
}

dt, .content dt {
    display: inline;
    font-weight: 700;
}
dd, .content dd {
    display: inline;
    margin-left: 0.4rem;
}
dd:after {
    content: "";
    display: block;
    margin-bottom: 0.6rem;
}

.link-icon {
    background-image: url('/assets/images/link-icon.svg');
    background-repeat: no-repeat;
    padding-left: 1.75rem;
    text-decoration: none;
}
.link-icon:hover {
    text-decoration: underline;
}

.icon-default {
    display: inline;
    height: 1.25rem;
    margin-right: 0.5rem;
    margin-bottom: -0.25rem;
}
.icon-location-dot {
    margin-right: 0.65rem;
}
.icon-lightbulb {
    margin-right: 0.88rem;
}

.preamble {
    color: oklch(37.2% 0.044 257.287);
    font-size: 1.2rem;
    font-style: italic;
}

// Content
.explore-data--tags button {
    background-color: oklch(92.8% 0.006 264.531);
    border-radius: calc(infinity*1px);
    padding: 0.3rem 0.8rem;
    font-size: 1.0rem;
    color: oklch(37.3% 0.034 259.733);
    text-wrap: nowrap;
    cursor: pointer;
    border: none;
    margin-inline: 0.2rem;
    margin-block: 0.2rem;
}
.explore-data--tags button.active {
    background-color: oklch(54.6% 0.245 262.881);
    color: white;
}
.explore-data--tools {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto;
    column-gap: 4rem;
    row-gap: 2rem;
}
@media screen and (min-width: 769px) {
    .explore-data--tools {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
.explore-data--tools article {
    display: flex;
    flex-direction: column;
    border: 1px solid oklch(86.9% 0.022 252.894);
    border-radius: 8px;
    cursor: pointer;
}
.explore-data--tools article:hover {
    background-color: oklch(96.8% 0.007 247.896);
}
.explore-data--tools article img {
    height: 192px;
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.explore-data--tools article div {
    flex-grow: 1;
}
.explore-data--tools article h3 {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.explore-data--tools article h3 a {
    color: $color-sbdi-dark-blue;
    text-decoration: none;
}
.explore-data--tools article .tool-description ul {
    margin-top: 0.5rem;
    line-height: 1.2rem;
}
.explore-data--tools footer {
    font-size: 0.9rem;
}
.explore-data--tools footer span {
    background-color: oklch(92.8% 0.006 264.531);
    border-radius: calc(infinity*1px);
    color: oklch(37.3% 0.034 259.733);
    text-wrap: nowrap;
}

.event-list-item {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-bottom: 2rem;
    border-bottom: 4px solid oklch(92.9% 0.013 255.508);
}
@media screen and (min-width: 769px) {
    .event-list-item {
        flex-direction: row;
        margin-top: 2rem;
    }
}
.event-list-item-image {
    flex-basis: 25%;
    display: none;
    position: relative;
    text-align: center;
    cursor: pointer;
}
@media screen and (min-width: 769px) {
    .event-list-item-image {
        display: block;
        margin-right: 1.5rem;
    }
}
.event-list-item-text {
    flex-basis: 75%;
}
.event-list-item h3, .event-list-item-past h3 {
    margin-top: 2.5rem;
    color: $color-sbdi-dark-blue;
}
.event-list-item h3 a, .event-list-item-past h3 a {
    text-decoration: none;
}
.event-list-item h3 a:hover, .event-list-item-past h3 a:hover {
    text-decoration: underline;
}
.event-list-item div, .event-list-item-past div {
    color: oklch(44.6% 0.043 257.281);
}

header.event-detail {
    color: oklch(44.6% 0.043 257.281);
}
img.event-detail-image {
    max-height: 18rem;
    margin-bottom: 1.5rem;
}

.support--courses article {
    border-bottom: 4px solid oklch(92.9% 0.013 255.508);
    margin-top: 2rem;
    padding-bottom: 0.5rem;
}
.support--courses article:last-child {
    border-bottom: none;
}
.support--courses article h3 {
    color: $color-sbdi-dark-blue;
}

.support--webinars article h4 {
    color: $color-sbdi-dark-blue;
}
.support--webinars article p {
    margin-bottom: 1.3rem;
}
 
.about--logos {
    display: grid; 
    grid-template-columns: auto auto auto auto auto auto; 
    column-gap: 24px; 
    row-gap: 24px
}
.about--logos img {
    max-width: 100%;
    height: 150px;
}

.organizations--partners {
    clear: both;
    overflow: auto;
}
.organizations--partners h3 {
    margin-top: 2rem;
}
.organizations--partners img {
    float: left;
    height: 100px;
    margin-right: 16px;
}
@media screen and (min-width: 1024px) {
    .organizations--partners img {
        height: 150px;
    }
}
.organizations--executive-office {
    display: grid;
    grid-template-columns: auto;
    column-gap: 4rem;
    row-gap: 2rem;
}
@media screen and (min-width: 769px) {
    .organizations--executive-office {
        grid-template-columns: auto auto;
    }
}
.organizations--executive-office article {
    max-width: 15.5rem;
}
.organizations--executive-office img.person {
    height: 225px;
}
.organizations--executive-office h3 {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}
.organizations--executive-office .person-title {
    font-style: italic;
}
.organizations--executive-office .person-affiliation {
    display: flex;
}
.organizations--executive-office .person-affiliation img {
    height: 80px;
}

.news-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news-list-header h1 {
    flex-grow: 1;
}
.news-list-header a {
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
    background-color: oklch(96.8% 0.007 247.896);
    color: oklch(37.2% 0.044 257.287);
    font-size: 1.1rem;
    text-decoration: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1)
}
.news-list-header a:hover {
    text-decoration: underline;
}
.news-list-header svg {
    display: inline;
    height: 1.2rem;
    margin-bottom: -0.2rem;
}
.news-list article {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 4px solid oklch(92.9% 0.013 255.508);
}
.news-list article:last-child {
    border-bottom: none;
}
@media screen and (min-width: 769px) {
    .news-list article {
        flex-direction: row;
    }
}
.news-list-item-image {
    flex-basis: 25%;
    margin-bottom: 1rem;
    cursor: pointer;
}
@media screen and (min-width: 769px) {
    .news-list-item-image {
        margin-bottom: 0;
        margin-right: 2rem;
    }
}
.news-list-item-text {
    flex-basis: 75%;
}
.news-list-item-text h2 {
    margin-top: 0;
    color: $color-sbdi-dark-blue;
}
.news-list-item-text h2 a {
    text-decoration: none;
}
.news-list-item-text h2 a:hover {
    text-decoration: underline;
}
.news-list-item-text div {
    color: oklch(55.4% 0.046 257.417)
}

figure.news-detail-image {
    margin-left: 0;
}
.news-detail-image img {
    max-height: 18rem;
}
.news-detail-image figcaption {
    font-size: 0.9rem;
    color: oklch(55.4% 0.046 257.417);
}
.news-detail-footer {
    font-size: 0.9rem;
    color: oklch(55.4% 0.046 257.417);
    border-top: 4px solid oklch(92.9% 0.013 255.508);
    margin-top: 2rem;
    padding-top: 1rem;
}