@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Variables
$color-sbdi-dark-blue: #284966;
$color-sbdi-blue: #6691a4;
$color-sbdi-lightblue: #94a5b2;
$color-sbdi-iceblue: #abccc7;

// Overrides
$family-primary: Roboto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$link: $color-sbdi-dark-blue;
$link-hover: darken($link, 20%);
$content-heading-weight: 500;
$navbar-height: 2.7rem;
$box-background-color: oklch(96.8% 0.007 247.896);
$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

@import "theme/_main";

@import "_base";
@import "_header";
@import "_footer";
@import "_home";
@import "_explore-data";
@import "_events";
@import "_support";
@import "_about";
@import "_news";
@import "_search";
