.news-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        flex-grow: 1;
    }
    a {
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
        background-color: $color-slate-100;
        color: $color-slate-700;
        font-size: 1.1rem;
        text-decoration: none;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1)
    }
    a:hover {
        text-decoration: underline;
    }
    svg {
        display: inline;
        height: 1.2rem;
        margin-bottom: -0.2rem;
    }
}

.news-list article {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 4px solid $color-slate-200;

    @include tablet {
        flex-direction: row;
    }
}
.news-list article:last-child {
    border-bottom: none;
}

.news-list-item-image {
    flex-basis: 25%;
    margin-bottom: 1rem;
    cursor: pointer;

    @include tablet {
        margin-bottom: 0;
        margin-right: 2rem;
    }
}

.news-list-item-text {
    flex-basis: 75%;

    h2 {
        margin-top: 0;
        font-size: 1.5rem;
        color: $color-sbdi-darkblue;

        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    div {
        color: $color-slate-500;
    }
}

figure.news-detail-image {
    margin-left: 0;

    img {
        max-height: 18rem;
    }
    figcaption {
        font-size: 0.9rem;
        color: $color-slate-500;
    }
}

.news-detail-footer {
    font-size: 0.9rem;
    color: $color-slate-500;
    border-top: 4px solid $color-slate-200;
    margin-top: 2rem;
    padding-top: 1rem;
}
