.support--courses {
    article {
        border-bottom: 4px solid oklch(92.9% 0.013 255.508);
        margin-top: 2rem;
        padding-bottom: 0.5rem;

        h3 {
            color: $color-sbdi-dark-blue;
            font-size: 1.2rem;
        }
    }
    article:last-child {
        border-bottom: none;
    }
}

.support--webinars {
    article {
        h4 {
            color: $color-sbdi-dark-blue;
            font-size: 1.1rem;
        }
        p {
            margin-bottom: 1.3rem;
        }
    }
}
