.support--courses {
    article {
        border-bottom: 4px solid $color-slate-200;
        margin-top: 1.5rem;
        padding-bottom: 0.5rem;

        &:last-child {
           border-bottom: none;
        }
    }
}

.support--webinars {
    article {
        border-bottom: 4px solid $color-slate-200;
        margin-top: 1.5rem;
        padding-bottom: 0.5rem;

        &:last-child {
           border-bottom: none;
        }
    }
}
